<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org">
<!--/*@thymesVar id="users" type="java.util.List"*/-->
<!--/*@thymesVar id="user" type="org.nerdizin.eztrial.web.model.admin.User"*/-->
<head>
    <title th:text="#{user.administration}">The user administration</title>
</head>
<body>

<div th:replace="~{admin/navigation :: navigation}">
    <a href="users.html">User administration</a>
    <a href="locations.html">Location administration</a>
</div>

<table>
    <tr>
        <th>
            <a th:href="@{/user/listUsers(page=${pagination.page},properties='oid')}"
               th:text="#{user.oid}">Oid</a>
        </th>
        <th>
            <a th:href="@{/user/listUsers(page=${pagination.page},properties='userName')}"
               th:text="#{user.userName}">User name</a>
        </th>
        <th th:text="#{user.email}">Email</th>
        <th th:text="#{user.firstName}">First name</th>
        <th th:text="#{user.lastName}">Last name</th>
        <th>
            <a th:href="@{/user/listUsers(page=${pagination.page},properties='type')}"
               th:text="#{user.type}">Type</a>
        </th>
        <th th:text="#{user.address}">Address</th>
        <th th:text="#{common.actions}">Actions</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.oid}">16</td>
        <td th:text="${user.userName}">username1</td>
        <td th:text="${user.email}">some.one@somewhere.net</td>
        <td th:text="${user.firstName}">Firstname</td>
        <td th:text="${user.lastName}">Lastname</td>
        <td th:text="${user.type}">Usertype 1</td>
        <td th:text="${user.address}">My Town 1</td>
        <td>
            <a th:href="@{/user/{id}(id=${user.id})}">edit</a>
            <a th:href="@{/user/{id}/deleteUser(id=${user.id})}">delete</a>
        </td>
    </tr>
    <tr th:remove="all">
        <td>17</td>
        <td>username2</td>
        <td>some.two@somewhere.net</td>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Usertype 2</td>
        <td>Some address 2</td>
        <td>

        </td>
    </tr>
</table>

<!--/*@thymesVar id="pagination" type="org.nerdizin.eztrial.web.model.common.Pagination"*/-->
<a th:href="@{/user/listUsers(page=${pagination.page - 1},properties=${pagination.properties})}"
   th:text="#{common.pagination.back.one}">back</a>
<a th:href="@{/user/listUsers(page=${pagination.page + 1},properties=${pagination.properties})}"
   th:text="#{common.pagination.forward.one}">forward</a>

</body>
</html>
