<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xsi:schemaLocation="https://www.thymeleaf.org">

<!--/*@thymesVar id="user" type="org.nerdizin.eztrial.web.model.User"*/-->
<!--/*@thymesVar id="userTypes" type="java.util.List"*/-->
<!--/*@thymesVar id="userType" type="java.lang.String"*/-->

<head>
    <title th:text="#{user.administration}">The user administration</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    isAuthenticated
</div>
<div sec:authorize="hasAuthority('user.edit')">
    edit
</div>
<div sec:authorize="hasAuthority('bogus')">
    edit
</div>
<div sec:authorize="hasRole('role.investigator')">
    role
</div>

Logged user: <span sec:authentication="name">Bob</span>
Authorities: <span sec:authentication="principal.authorities">user.edit</span>

    <form action="#" th:action="@{/user}" th:object="${user}" method="post">
        <input type="hidden" name="id" th:value="${user.id}"/>
        <table>
            <tr>
                <td th:text="#{user.oid}">Oid</td>
                <td th:text="${user.oid}">oid.4711</td>
            </tr>
            <tr>
                <td th:text="#{user.userName}"><label for="userName">Username</label></td>
                <td>
                    <input type="text" name="userName" id="userName" th:value="*{userName}" value="oid.4711"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{user.active}"><label for="active">Active</label></td>
                <td>
                    <input type="checkbox" name="active" id="active" th:field="*{active}"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{user.email}"><label for="email">Email</label></td>
                <td>
                    <input type="text" name="email" id="email" th:value="*{email}" value="foo@bar.com" readonly/>
                </td>
            </tr>
            <tr>
                <td th:text="#{user.firstName}"><label for="firstName">First name</label></td>
                <td>
                    <input type="text" name="firstName" id="firstName" th:value="*{firstName}" value="Max"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{user.lastName}"><label for="lastName">Last name</label></td>
                <td>
                    <input type="text" name="lastName" id="lastName" th:value="*{lastName}" value="Mustermann"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{user.phone}"><label for="phone">Phone</label></td>
                <td>
                    <input type="text" name="phone" id="phone" th:value="*{phone}" value="089 / 32 16 8"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{user.type}"><label for="userType">Type</label></td>
                <td>
                    <select name="userType" id="userType" th:field="*{type}">
                        <option th:value="none" th:text="#{common.none}" value="">None</option>
                        <option th:each="userType : ${userTypes}"
                                th:value="${userType}"
                                th:text="#{${userType}}"
                                th:selected="${userType == user.type}">
                        <option th:remove="all" value="sponsor">Sponsor</option>
                        <option th:remove="all" value="investigator">Investigator</option>
                        <option th:remove="all" value="lab">Lab</option>
                        <option th:remove="all" value="other">Other</option>
                    </select>
                </td>
            </tr>
        </table>

        <table>
            <tr th:each="role: ${user.roles}">
                <td th:text="${role}">some role</td>
            </tr>
        </table>
        <input type="submit" th:value="#{common.save}"/>
        <button type="button" th:text="#{common.cancel}" th:action="@{/user/listUsers}">Cancel</button>
    </form>

</body>
</html>
