<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org">
<!--/*@thymesVar id="passwordReset" type="org.nerdizin.eztrial.web.model.admin.PasswordReset"*/-->

<head>
    <!--/*/ <th:block th:include="/fragments/head.html :: header"></th:block> /*/-->
    <title th:text="#{location.administration}">Reset password</title>
</head>


<form action="#" th:action="@{/resetPassword/initiate}" th:object="${passwordReset}" method="post">
    <table>
        <tr>
            <td><label for="userNameOrEmail"></label></td>
            <td><input type="text" name="userNameOrEmail" id="userNameOrEmail"/>
            </td>

            <td th:if="${#fields.hasErrors('userNameOrEmail')}"
                th:errors="${passwordReset.userNameOrEmail}"
                th:text="#{user.validation.email.username.not.found}">Validation error</td>
        </tr>
        <tr>
            <td><input type="submit" th:value="#{common.save}"/></td>
        </tr>
    </table>
</form>

</html>
