<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--/*@thymesVar id="exception" type="java.lang.Exception"*/-->
<!--/*@thymesVar id="stackTraceElement" type="java.lang.StackTraceElement"*/-->
<head>
    <title>EzTrial Error</title>
</head>
<body>

<h1 th:text="${exception.message}">An error occurred</h1>

<ul>
<li th:each="stackTraceElement : ${exception.stackTrace}"
    th:text="${stackTraceElement}">
</li>
</ul>

</body>
</html>