<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigation}">
    <a href="users.html">Users</a>
    <a href="locations.html">Locations</a>
</div>


<br/><br/><br/>

<a th:href="@{/resetPassword}">forgot password</a>

</body>
</html>
